*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'lato';
	font-size: 16px;
	background: #FFF;
}

.container {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

header {
	width: 100%;
	height: 600px;
	background-image: url('../img/header.png');
	background-repeat: no-repeat;
	background-position: center;
}

header .menu {
	display: flex;
	justify-content: flex-end;
	margin: 20px 0;
}

header .menu a {
	display: inline-block; /* Para tener propiedades en bloques */
	padding: 15px 20px;
	font-size: 18px;
	text-decoration: none;
	color: #FFF;
	font-weight: 300;
}

header .menu a::after {
	content: '';
	display: block;
	height: 5px;
	background: #15a4fa;

	width: 0;
	transition: all ease-in 250ms;
	top: 18px;
}

header .menu a:hover::after {
	width: 100%;
}

header .text__header {
	margin: 150px 0;
	text-align: center;
}

header .text__header .title--header {
	font-size: 100px;
	color: #FFF;
	margin-bottom: 5px;
}

header .text__header .divisor--line {
	width: 600px;
	margin: auto;
	height: 3px;
	background: #15a4fa;
	margin-bottom: 20px;
}

header .text__header .subtitle--header {
	font-size: 20px;
	color: #FFF;
	font-weight: 300;
	margin-bottom: 20px;
}

header .text__header .call__action {
	display: inline-block;
	padding: 15px 10px;
	border: 1px solid #15a4fa;
	text-align: center;
	color: #FFF;
	text-decoration: none;
	border-radius: 3px;
	transition: all 1s ease;
}

header .text__header .call__action:hover {
	background: #15a4fa;
	color: #FFF;
	transition: all 1s ease;
}

main .about--us {
	background: #f0f3f5;
	padding: 45px 0;
	text-align: center;
}

main .about--us .text__about .title {
	font-size: 24px;
	font-weight: 900;
	/*color: #999999;*/
	margin-bottom: 20px;
}

main .about--us .text__about p {
	color: #999999;
	font-weight: 600;
	margin-bottom: 20px; 
}

main .icons {
	padding: 30px 0;

}

.container__icons {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.container__icons .icon {
	width: 33%;
	margin: 20px 0;
}

.container__icons .icon h3 {
	margin: 10px 0;
}

main .portfolio {
	background: #222;
	padding: 60px 0;
}

main .portfolio__text {
	text-align: center;
}

main .portfolio__text .portfolio--title {
	font-weight: 900;
	font-size: 28px;
	color: #FFF;
	margin-bottom: 20px;
}

main .portfolio__text .portfolio--subtitle {
	font-weight: normal;
	color: #999999;
	margin-bottom: 60px;
}

main .portfolio .portfolio__container {
	display: block; /* flex */
	flex-wrap: wrap;
	justify-content: space-between;
}

main .portfolio .portfolio__container img {
	width: 32%;
	margin: auto;
	margin-bottom: 10px;
	border-radius: 5px;
}

main .portfolio .portfolio__container img:hover {
	opacity: .6;
}

footer {
	width: 100%;
	height: 600px;
	padding: 60px 0;
	background-image: url('../img/footer.png');
}

footer .footer__text {
	text-align: center;
	color: #FFF;

}

footer .footer__text .footer--title {
	font-weight: 900;
	font-size: 38px;
	margin-bottom: 15px;
}

footer .footer__text .footer--subtitle {
	font-weight: 300;
	color: #999999;
	margin-bottom: 45px;
}

footer .form {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
}

footer .form .form--ctrl {
	display: inline-block;
	padding: 15px 20px;
	margin-bottom: 20px;
	background: none;
	border: 1px solid #999999;
	color: #999999;
	border-radius: 3px;
	font-family: 'lato';
	font-weight: 300;
	font-size: 14px;
 }

 footer .form .message {
 	min-width: 100%;
 	max-width: 100%;
 	min-height: 150px;
 	max-height: 150px;
 }

.text--right {
 	display: flex;
 	justify-content: flex-end;
 }

 footer .form .text--right .form--btn {
 	display: inline-block;
 	padding: 10px 20px;
 	background: none;
 	border: 1px solid #15a4fa;
 	color: #FFF;
 	border-radius: 3px;
 	transition: all 1s ease;
 }

 footer .form .text--right .form--btn:hover {
 	background: #15a4fa;
 	color: #FFF;
 	cursor: pointer;
 	transition: all 1s ease;
 }

 @media screen and (max-width: 600px) {
 	
 	header .menu {
		justify-content: center;
		flex-wrap: wrap;
 	}

 	header .text__header {
 		margin: 80px 0;
 	}

 	header .text__header .title--header {
 		margin: 20px 0;
 		font-size: 60px;
 	}

 	.container__icons {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	.container__icons .icon {
		width: 100%;
		margin: 20px 0;
	}

	main .portfolio .portfolio__container {
		justify-content: space-around;
	}
	
	main .portfolio .portfolio__container img {
		width: 48%;
	}
 }